<div id="<%= dom_id url_entry %>">
  <p>
    <strong>Url:</strong>
    <a href="<%= url_entry.url %>" target="_blank"> <%= url_entry.url %> </a>
  </p>

  <p>
    <strong>Description:</strong>
    <%= url_entry.description %>
  </p>

  <p>
    <strong>Expire:</strong>
    <%= url_entry.expire %>
  </p>

</div>
