<div id="<%= dom_id url_entry %>">
  <p>
    <strong>Url:</strong>
    <%= link_to "#{url_entry.url}", visit_path(url_entry), target: "_blank"%>
  </p>

  <p>
    <strong>Description:</strong>
    <%= url_entry.description %>
  </p>

  <p>
    <strong>Clicks:</strong>
    <%= url_entry.counter %>
  </p>


  <p>
    <strong>Expire:</strong>
    <%= url_entry.expire %>
  </p>

</div>
